<footer>
  <div class="container">
    <div class="footer-inner">
      <h2>{{ site.title }}</h2>
      <ul class="inline-list social-icons">
        <li><a href="https://twitter.com/nutritionkit"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="https://www.instagram.com/truefoodsportnutrition/"><i class="fab fa-instagram-square"></i></a></li>
        <li><a href="https://www.linkedin.com/company/true-food"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/truefoodsportnutrition"><i class="fab fa-facebook-square"></i></a></li>
      </ul>
      <p>Cool project tag line here.<br class="phones-only" /></p>
      <p class="last-word small text-center">v0.1</p>
    </div>
  </div>
</footer>
