<header class="site-header">

  <div class="container nav-container white-bg">
    <div class="navbar">
      <div class="main">
        <a id="nav-homepage" class="brand" href="/">Kit's Assoc. Project</a>
        <button class="hamburger hamburger--spin" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <nav>
        <a id="nav-posts" href="/eligibility/">Eligibility</a>
        <a href="https://52papers.org">Truefood.je <i class="fas fa-arrow-right icon-rotate-45"></i></a>
      </nav>
    </div>
  </div>

</header>
