<header class="site-header">

  <div class="container nav-container white-bg">
    <div class="navbar">
      <div class="main">

        <a id="nav-homepage" class="brand" href="/"><img src="/assets/img/logo-icon.png" /><span>Jersey Nutrition</span></a>

        <button class="hamburger hamburger--spin" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <nav>
        <a href="/#about">About</a>
        <a href="/faq/">FAQ</a>
        <a href="/join/">Join Jersey Nutrition</a>
      </nav>
    </div>
  </div>

</header>
