.btn {
  background: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.4s ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.btn-cta {
  background: url('../img/red-bg.png');
  background-position: 35% 10%;;
  color: #fff;
  &:hover {
    background-position: 40% 10%;;
    color: #fff;
  }
}
.btn-link {
  font-weight: 600;
}
.btn-outline {
  border: $border;
  &:hover {
    border-color: #000;
  }
}
.btn-active {
  background: url('../img/red-bg.png');
  background-position: 40% 10%;;
  color: #fff;
  &:hover {
    border-color: $brand-color;
  }
}
.btn-group {
  display: block;
  padding: 1rem 0;
  .btn {
    margin-right: 10px;
  }
}
.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: $column-width;
  @include for-tablet-landscape-up {
    padding: 0 2rem;
  }
}
.container-dropped {
  // margin-top: 6rem;
}
.section-heading {
  margin-top: 1rem;
}
.pre-footer {
  border-top: $border;
}
.list-unstyled {
  list-style: none;
}
.list-inline {
  list-style-type: none;
  margin: 0;
  li {
    margin-right: 1.5em;
    padding-left: 0;
    display: inline-block;
    @include for-tablet-portrait-up {

      &:last-child {
        margin-right: 0;
      }
    };
  }
}
