// =======================================
//  Post SASS
// =======================================
.hero {
  max-width: 950px;
  margin: 0 auto;
  text-align: left;
  padding: 0 10px;
  @include for-tablet-landscape-up {
    padding: 2rem 2rem 3rem;
  };
  h1, .btn-group {
    margin-bottom: 1rem;
    @include for-tablet-landscape-up {
      margin-bottom: 2rem;
    };
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-weight: 800;
    font-size: 1.8rem;
    max-width: 100%;
    background: url('../img/red-bg.png');
    background-position: 70% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    @include for-tablet-landscape-up {
      font-size: 3.2rem;
      margin-top: 0;
      margin-bottom: 1rem;
    };
  }
  p {
    font-size: 1.1rem;
    max-width: initial;
    margin-bottom: 2rem;
    @include for-tablet-landscape-up {
      font-size: 1.4rem
    };
  }
  .btn-group {
    text-align: center;
    @include for-tablet-landscape-up {
      text-align: left;
    };
  }
  .btn {
    padding: 15px 30px;
    font-size: 1.1rem;
  }
  .btn-cta {
    margin-bottom: 1rem;
    @include for-tablet-landscape-up {
      margin-bottom: 0;
    };
  }
  .hero-strip {
    padding: 1rem;
    max-width: 750px;
    background: #fefefe;
    border: $border;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px #ededed;
  }
}
.about-section {
  padding: 5rem 0;
  background: radial-gradient(ellipse closest-side at 50% 50%, #3a3f45, #37383c 25%, #343233);
  color: #efeae1;
  h2 {
    border-left: 2px solid #efeae1;
    padding-left: 2rem;
    margin-bottom: 3rem;
  }
  ol {
    margin-bottom: 2rem;
  }
  .btn-group {
    text-align: center;
    @include for-tablet-landscape-up {
      text-align: left;
    };
  }
  .btn-cta {
    margin-bottom: 1rem;
    @include for-tablet-landscape-up {
      margin-bottom: 0;
    };
  }
  .btn-link {
    color: #efeae1;
    &:hover {
      text-decoration: underline;
    }
  }
}
.practitioner-section {
  background: #fff;
}
.main-list-wrapper {
  padding: 2rem 0;
}
.main-list-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  @include for-tablet-landscape-up {
    flex-direction: row;
    justify-content: space-between;
  };
  h2 {
    margin-bottom: 2rem;
    @include for-tablet-landscape-up {
      margin-bottom: 0;
    };
  }
  span {
    margin-right: 1rem;
  }
  select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
  li {
    @extend .card-list;
  }
  .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 10px 1.5rem;
    background: $background-color;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: $border;
    @include for-tablet-landscape-up {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding: 2rem 2rem 1rem;
    };
    &:last-child {
      border-bottom: none;
    }
    .member-info {
      display: flex;
      flex-direction: column;
      padding: 0;
      flex-basis: 100%;
      @include for-tablet-landscape-up {
        flex: 0 0 59%;
        padding: 0 1.5rem 1rem 0rem;
      };
      ul {
        order: 2;
        margin-bottom: 1rem;
        @include for-tablet-landscape-up {
          margin-bottom: 0;
          order: 1;
        };
      }
      li {
        margin-right: 1rem;
        color: #888;
        @include for-tablet-landscape-up {
          margin-right: 1.5rem;
        };
      }
      .tag {
        letter-spacing: 1px;
      }
      h3 {
        order: 1;
        font-size: 1.8rem;
        margin-bottom: 0;
        @include for-tablet-landscape-up {
          order: 3;
          margin-bottom: 1em;
        };
      }
      .subheading {
        padding-left: 10px;
        font-size: 0.9rem;
        color: #777;
      }
      p {
        order: 3;
      }
      .member-link {
        order: 4;
        text-align: right;
        padding-right: 10px;
        margin-bottom: 0;
        @include for-tablet-landscape-up {
          text-align: left;
          margin-bottom: 1rem;
        };
      }
      a:hover .icon-right {
        margin-left: 12px;
      }
    }
    .member-img {
      margin-bottom: 1rem;
      flex-basis: 100%;
      text-align: left;
      @include for-tablet-landscape-up {
        flex: 0 0 40%;
      };
      img {
        display: block;
        max-width: 120px;
        margin-right: calc(100vw - 155px); // I have absolutely no idea why this is necassary
        border-radius: 100%;
        @include for-tablet-landscape-up {
          max-width: 250px;
          margin: 0;
        };
      }
    }
  }
}
